@import	url("fuentes.css");
@import	url("basic.css");
@import	url("menu.css");
@import	url("login.css");
@import	url("side.css");
@import	url("foot.css");
@import	url("forms.css");
@import	url("table.css");
@import	url("work.css");
@import	url("ventas.css");
