table{
	display:table;
	table-layout:fixed;
	border-collapse:collapse;
	text-align:left;
	margin:10px auto;
	width:calc(100% - 4px);
	clear:both;
	background-color:transparent;
	box-shadow:1px 1px 3px #000;
}
table.list-ed tbody tr td{
	font-family:robotoC;
	color:#800000;
}
th{
	font-family:SantanaBold, Comic Sans MS, Arial;
}
.font td{
	font-family:SantanaBold, Comic Sans MS, Arial;
}
table thead, table tfoot{background-color:rgba(157,30,47,0.03);
}
table tfoot{
	font-family:robotoC, Arial;
	font-size:9pt;
	color: #eee;
	text-shadow:0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;
}
table thead th:nth-child(odd), table tfoot td:nth-child(odd){
	background-color:rgba(157,30,47,0.08);
	text-align:center;
}
table thead th:nth-child(even), table tfoot td:nth-child(even){
	background-color:rgba(157,30,47,0.15);
	text-align:center;
}
tr:nth-child(even){
	background-color:rgba(157,30,47,0.1)/*#FFE3C6*/;
}
tbody tr:hover{background-color:rgba(157,30,47,.25);}
tr.active{border:1px solid #800000;background-color:rgba(157,30,47,.20);}
td:first-child, th:first-child {
	padding:3px 0;
	background-color:transparent;
}
.wabody tbody td:nth-child(odd):not(:first-of-type){
	background-color:rgba(157,30,47,0.18);
}
#shopping_cart_items td:nth-child(odd),#shopping_cart_items th:nth-child(odd){
	background-color:rgba(157,30,47,0.1);
}
td,th{padding:3px;border:0px solid #800000;font-size:10pt;line-height:1;overflow:hidden;
}
th.cepal_titulo{width:50%;}
td{word-break:normal;}
table.simple{box-shadow:none;}
table.simple tr:nth-child(even){background-color:transparent;}
.rgt{text-align:right;}
.flt{text-align:right;width:3em;}
table.catCep{font-family:Times New Roman,Arial;table-layout:auto;}
table.catCep th{font-family:Times New Roman,Arial;font-size:7pt;}
table.catCep th.colspan{text-align:center;font-size:12pt;font-weight:bold;}
table.catCep th.firstchild{width:1cm;}
table.catCep th.lastchild{width:1cm;}
table.catCep tr.prm td{text-align:center;font-weight:bold;font-size:10pt;text-transform:uppercase;}
table.catCep td:first-child{text-align:center;vertical-align:top;}
table.catCep td:last-child{text-align:right;vertical-align:bottom;}
table.catCep td.descr{text-align:justify;word-break:normal}
._show:nth-child(odd){background-color:rgba(157,30,47,0.1)}
._show:nth-child(even){background-color:rgba(157,30,47,0.0)}
